<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>WARNING: Invalid Sendgrid category</h1>
    <p>
      Sendgrid Event Proxy received a category of <%= @category %>. The client was found to be: <%= @client %>, but this is not a known client. If you believe that <%= @client %> is legitimate, please contact Dan and ask him to add it to the list of known clients.
    </p>
  </body>
</html>